.root {
	width: 100%;
	height: auto;
}

.movieCards {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-images {
	width: 25%;
	height: auto;
}

div.cardArea {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #121212;
}

div.card {
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	width: 400px;
	height: 400px;
}
			
div.card > h3 {
	font-size: 1.2em;
}
			
div.card > button {
	margin-top: 1em;
	width: 25%;
}
			
div.card > p,h3 {
	margin: 0;
}

div.card > img {
	width: 50%;
	max-height: 291px;
	height: auto;
}

.movieAdvancedDetails {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	text-align: center;
}
